version: "3.8"
services:
  db:
    image: postgres:17
    container_name: bdPrecoCerto
    environment:
      POSTGRES_DB: bdPrecoCerto
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d