@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color: #023b92;
    padding: 10px 0;
    margin-top: 90px;

    position: relative;
    top: 0px; 
    width: 100vw;
    z-index: 999;
    transition: top 0.3s;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 60px;
    padding: 0px 0;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 5px;
}

.menu.hidden {
    top: 0px;
    transform: translateY(-100%);
}

.cep-button {
  background: none;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.cep-button:hover{
    font-weight: bold;
}

.cep-button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #F27BBD;
    transition: ease 0.3s;
}

.cep-button:hover::after{
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

ul li a {
    display: block;
    color: #FFF;
}

ul li ul.dropdown li{
    display: block;
    padding: 5px;
}

ul li ul.dropdown{
    margin-top: 5px;
    width: 0%;
    background: #2058ab;
    position: absolute;
    z-index: 999;
    display: none;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

ul li:hover ul.dropdown{
    display: block;
    width: 7%;
    height: 225%;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    -webkit-animation: slideDown 0.3s ease forwards;
    animation: slideDown 0.3s ease forwards;
}

.menu a:hover{
    font-weight: bold;
}

.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #F27BBD;
    transition: ease 0.3s;
}

.menu a:hover::after{
    width: 100%;
}

.menu-toggle{
    display: none;
    background: transparent;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1001;
}

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  max-width: 300px;
  height: 100%;
  background-color: #023b92;
  box-shadow: 2px 0 8px rgba(0,0,0,0.3);
  z-index: 1000;
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slideLeft 0.3s ease forwards;
}

.mobile-menu ul{
  list-style: none;
  padding: 0;
  padding: 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}

.mobile-menu ul li a:hover {
    background-color: #1f4fa5;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 1404px) {
    .menu ul{
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }
    .menu-toggle {
        display: block;
        position: fixed;
    }
}

@media (min-width: 1025px) {
    .mobile-menu {
        display: none;
    }
}
